html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
:root {
  /* Fonts */
  --title-font: "Bebas Neue", cursive;
  --main-font: "Open Sans", sans-serif;
  /* Colors */
  --primary-color: #053b8e;
  --secondary-color: #0c5fdc;
}
body {
  font-family: var(--main-font);
  position: relative;
}
h1 {
  font-family: var(--title-font);
}
/* Header */
header.container {
  padding: 0.4rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  font-size: 1.1rem;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
header.container img {
  height: 50px;
}
nav.myNav ul {
  display: flex;
  list-style: none;
  gap: 6px;
}

nav.myNav ul li a {
  padding: 10px;
  color: #333;
  text-transform: uppercase;
  transition: all 0.3s;
}
nav.myNav ul li a:hover,
nav.myNav ul li a:focus {
  color: var(--secondary-color);
}
#myNavBtn,
.closebtn {
  display: none;
}
/* Footer */
footer.container {
  color: #fff;
  background-color: #3c3c3c;
  text-align: center;
  padding: 3em 0 0;
  position: relative;
  width: 100%;
  bottom: 0;
}
footer.container div.main p {
  font-size: 1.2em;
  text-transform: capitalize;
  padding: 10px 0;
}
footer.container div.social-links i {
  font-size: 2em;
  padding: 15px 0;
  color: #fff;
}
footer.container div.social-links i:hover {
  color: var(--secondary-color);
}
footer.container div.copyright {
  font-size: 1em;
  background-color: #333;
}
footer.container div.copyright a {
  color: #a7a7a7;
}
footer.container div.copyright a:hover {
  color: #c9c9c9;
  text-decoration: underline;
}
/* //Footer */
@media screen and (max-width: 780px) {
  header.container img {
    height: 40px;
  }
}
@media screen and (max-width: 620px) {
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
  }

  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  nav.myNav {
    background-color: rgba(255, 255, 255, 0.99);
  }
  nav.myNav ul {
    flex-direction: column;
  }

  nav.myNav ul li a {
    font-size: 2em;
    display: block;
  }
  #myNavBtn {
    font-size: 30px;
    cursor: pointer;
    display: block;
  }
  .overlay .closebtn {
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 50px;
    color: #333;
    display: block;
  }
}
